.container {
  padding-top: 0;
}


.listItemContainer {
  position: relative;
  overflow: hidden;
  margin-bottom: 1px;
}

.listItemLink {
  text-shadow: none;
  background-image: none;
}

.listItemTint {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
}

.listItemTint:hover {
  opacity: 0.5;
}

.listItemTitle {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  margin-top: 0;
  font-size: 5vw;
}

@media only screen and (min-width: 700px) {
  .listItemTitle {
    font-size: 1.75rem;
  }
}