button {
  margin: 0;
  padding: 0;
  border: none;
}
/*
Full size:
700, 525
Thumbnails:
x = 700/4 = 175
y = 525/4 = 131,25
175, 131
*/
.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: 131px;
}

@media only screen and (max-width: 700px) {
  .container {
    grid-auto-rows: 18.72vw;
  }
}

.largeImage {
  background-color: blue;
  grid-column: 1 / span 4;
  grid-row: 1 / span 3;
}

.thumbnail1 {
  background-color: green;
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
}

.thumbnail2 {
  background-color: red;
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
}

.thumbnail3 {
  background-color: yellow;
  grid-column: 3 / span 1;
  grid-row: 5 / span 1;
}

.thumbnail4 {
  background-color: gray;
  grid-column: 4 / span 1;
  grid-row: 5 / span 1;
}