.listLinkItem {
  display: inline-block;
  margin-left: 0.5rem;
}

.container {
  margin: 0 auto;
  max-width: 700px;
}

.header {
  padding: 1rem;
}

.titleContainer {
  text-shadow: none;
  background-image: none;
}

.title {
  display: inline;
  font-size: 1.31951rem;
}

.list {
  list-style: none;
  float: right;
  margin: 0;
}

.footer {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 320px) {
  .listLinkItem {
    font-size: 0.8rem;
  }
  .title {
    font-size: 1rem;
  }
}